/* line 1, ../sass/grids.scss */
.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 7, ../sass/grids.scss */
.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

/* nested grids */
/* line 14, ../sass/grids.scss */
.row .row, .row.nested {
  flex: 1 1 auto;
  margin-top: -0.5em;
}

/* full width grids */
/* line 19, ../sass/grids.scss */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
/* line 24, ../sass/grids.scss */
.row.center {
  justify-content: center;
}

/* line 27, ../sass/grids.scss */
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}

/* columns widths */
/* line 32, ../sass/grids.scss */
.col-span-1 {
  flex-basis: 8.3333%;
}

/* line 35, ../sass/grids.scss */
.col-span-2 {
  flex-basis: 16.6666%;
}

/* line 38, ../sass/grids.scss */
.col-span-3 {
  flex-basis: 25%;
}

/* line 41, ../sass/grids.scss */
.col-span-4 {
  flex-basis: 33.3333%;
}

/* line 44, ../sass/grids.scss */
.col-span-5 {
  flex-basis: 41.6666%;
}

/* line 47, ../sass/grids.scss */
.col-span-6 {
  flex-basis: 50%;
}

/* line 50, ../sass/grids.scss */
.col-span-7 {
  flex-basis: 58.3333%;
}

/* line 53, ../sass/grids.scss */
.col-span-8 {
  flex-basis: 66.6666%;
}

/* line 56, ../sass/grids.scss */
.col-span-9 {
  flex-basis: 75%;
}

/* line 59, ../sass/grids.scss */
.col-span-10 {
  flex-basis: 83.3333%;
}

/* line 62, ../sass/grids.scss */
.col-span-11 {
  flex-basis: 91.6666%;
}

/* line 65, ../sass/grids.scss */
.col-span-12 {
  flex-basis: 100%;
}

/* examples */
/* line 69, ../sass/grids.scss */
.fixed-width {
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

@media all and (max-width: 568px) {
  /* line 79, ../sass/grids.scss */
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4,
  .col-span-5 {
    flex-basis: 50%;
  }

  /* line 87, ../sass/grids.scss */
  .col-span-6,
  .col-span-7,
  .col-span-8,
  .col-span-9,
  .col-span-10,
  .col-span-11 {
    flex-basis: 100%;
  }

  /* line 90, ../sass/grids.scss */
  .nested .col {
    flex-basis: 100%;
  }
}
