
// Color Library

// as HEX (don't need RGBA values with Sass ;-> )
$burntOrange: #fa550a; // h2's
$wine: #3f1224;    // other headings
$mustard: #faaa00; //anchor:hover
$gunMetal: #576f7c;  // anchors
$neoBlack: #1e1914; // text
$clottedCream: #c6d2d6; // background;




// $orangatang: #ff8330;