
#main-menu {
    width: 100%;
    top: 0;
    height: 100px;
    list-style: none;
    background: rgba($gunMetal, 0.8);
    border-bottom: 1px solid rgba($wine, 0);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: fixed;
    z-index: 999999;
}
#main-menu:hover {
    opacity: 1;
    background: rgba($gunMetal, 1);
    border-bottom: 1px solid rgba($wine, 0.2);
}
#main-menu ul {
    list-style: none;
    display: inline;
    overflow: hidden;
}
#main-menu ul li {
    display: inline-block;
    margin: 1rem;
    padding: 20px 0;
}
#main-menu ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1;
    color: $wine;
    background: rgba($wine, 0);
    padding: 45px 1rem;
    z-index: 999;
}
#main-menu ul li a:hover {
    opacity: 0.5;
    color: $clottedCream;
    background: rgba($wine, 1);
    z-index: 9999;
}
nav[role="navigation"] a:empty { display: none; pointer-events: none; }