
/*************************** @Images ****************************/
#images {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
   	width: 100%;
   	margin: 1em auto;
	left: 0;
	right: 0;
   	height : auto;
	z-index: 0;
}
#images2 {
	position: fixed;
	top: 0;
   	width: 100%;
   	margin: 1em auto;
	left: 0;
	right: 0;;
   	height : auto;
	z-index: 1;
}
#images3 {
	position: fixed;
	top: 0;
   	width: 100%;
   	margin: 1em auto;
	left: 0;
	right: 0;
   	height : auto;
	z-index: 0;
}
#images4 {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
   	max-width: 100%;
   	height : auto;
	z-index: 9999;
}
#image1 {
	position: absolute;
	width: 459px;
	height: 406px;
	background: url("../img/parallax/pearl-oak-imac.jpg") no-repeat;
	top: 1260px;
	left: 2em;
		@include breakpoint(mobile) {
			width: 200px;
			height: 177px;
			top: 1420px;
			left: 0;
			background: url("../img/parallax/pearl-oak-imac[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 350px;
			height: 310px;
			top: 1500px;
			left: 0;
			background: url("../img/parallax/pearl-oak-imac[medium].jpg") no-repeat;
		}
}
#image2 {
	position: absolute;
	width: 459px;
	height: 406px;
	background: url("../img/parallax/pearl-oak-iPhone-3views.jpg") no-repeat;
	top: 1410px;
	left: 1em;
	z-index: 1;	
		@include breakpoint(mobile) {
			width: 300px;
			height: 194px;
			top: 1540px;
			left: 4em;
			background: url("../img/parallax/pearl-oak-iPhone-3view[small].jpg") no-repeat;

		}
		@include breakpoint(tablet) {
			width: 300px;
			height: 194px;
			top: 1400px;
			left: 16em;
			background: url("../img/parallax/pearl-oak-iPhone-3view[small].jpg") no-repeat;

		}
		@include breakpoint(large) {
			width: 459px;
			height: 406px;	
			top: 1140px;
			left: 20em;
		}		
}
#image3 {
	position: absolute;
	width: 300px;
	height: 227px;
	background: url("../img/parallax/pearl-oak-laptop.jpg") no-repeat;
	top: 1140px;
	left: 32em;
	z-index: 0;
		@include breakpoint(mobile) {
			width: 200px;
			height: 151px;
			top: 960px;
			left: 10em;
			background: url("../img/parallax/pearl-oak-laptop[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 300px;
			height: 227px;
			top: 1030px;
			left: 22em;
		}
		@include breakpoint(large) {
			width: 459px;
			height: 406px;	
			top: 1140px;
			left: 20em;
		}		
}
#design-img1 {
	position: absolute;
	width: 300px;
	height: 227px;
	// background: url("../img/parallax/pearl-oak-laptop.jpg") no-repeat;
	top: 1140px;
	left: 32em;
	z-index: 0;
		@include breakpoint(mobile) {
			width: 200px;
			height: 151px;
			top: 960px;
			left: 10em;
			// background: url("../img/parallax/pearl-oak-laptop[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 300px;
			height: 227px;
			top: 1030px;
			left: 22em;
		}
		@include breakpoint(large) {
			width: 459px;
			height: 406px;	
			top: 1140px;
			left: 20em;
		}		
}
#design-img2 {
	position: absolute;
	width: 300px;
	height: 227px;
	// background: url("../img/parallax/pearl-oak-laptop.jpg") no-repeat;
	top: 1140px;
	left: 32em;
	z-index: 0;
		@include breakpoint(mobile) {
			width: 200px;
			height: 151px;
			top: 960px;
			left: 10em;
			// background: url("../img/parallax/pearl-oak-laptop[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 300px;
			height: 227px;
			top: 1030px;
			left: 22em;
		}
		@include breakpoint(large) {
			width: 459px;
			height: 406px;	
			top: 1140px;
			left: 20em;
		}		
}
#design-img3 {
	position: absolute;
	width: 600px;
	height: 352px;
	background: url("../img/parallax/dont-click-this-button.jpg") no-repeat;
	top: 4250px;
	left: 30em;
	z-index: 0;
		@include breakpoint(mobile) {
			width: 300px;
			height: 176px;
			top: 3400px;
			left: 5em;
			background: url("../img/parallax/dont-click-this-button[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 500px;
			height: 293px;
			top: 4090px;
			left: 3em;
			background: url("../img/parallax/dont-click-this-button[medium].jpg") no-repeat;			
		}		
		@include breakpoint(large) {
			top: 3900px;
			left: 27em;					
		}		
}

#process-img2 {
	position: absolute;
	width: 900px ;
	height: 294px;
	background: url("../img/parallax/process-img2.jpg") no-repeat;
	top: 3800px;
	margin: 1em auto;
	left: 0;
		@include breakpoint(mobile) {
			width: 315px;
			height: 316px;
			top: 3470px;
			left: 0;
			background: url("../img/parallax/process-img2[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 600px;
			height: 601px;
			top: 3820px;
			left: 1em;
			background: url("../img/parallax/process-img2[medium].jpg") no-repeat;

		}
		@include breakpoint(large) {
			width: 1200px;
			height: 393px;
			top: 3700px;
			margin: 0;
			left: 5em;
			background: url("../img/parallax/process-img2[large].jpg") no-repeat;
		}	
}


// #me-img1 {
// 	position: absolute;
// 	width: 549px;
// 	height: 347px;
// 	background: url("../img/parallax/me-img1.jpg") no-repeat;
// 	top: 4850px;
// 	left: 0;
// 		@include breakpoint(mobile) {
// 			width: 500px;
// 			height: 316px;
// 			top: 5800px;
// 			left: 0;
// 			background: url("../img/parallax/me-img1[medium].jpg") no-repeat;
// 		}
// 		@include breakpoint(tablet) {
// 			width: 500px;
// 			height: 316px;
// 			top: 6200px;
// 			left: 2em;
// 			background: url("../img/parallax/me-img1[medium].jpg") no-repeat;

// 		}
// }
#me-img2 {
	position: absolute;
	width: 400px;
	height: 280px;
	background: url("../img/parallax/me-img2.jpg") no-repeat;
	top: 4480px;
	left: 43em;
		@include breakpoint(mobile) {
			width: 320px;
			height: 224px;
			top: 4140px;
			margin: 0 auto;
			left: 0.4em;
			background: url("../img/parallax/me-img2[small].jpg") no-repeat;
		}
		@include breakpoint(tablet) {
			width: 200px;
			height: 240px;
			top: 1270px;
			left: 0;
			background: url("../img/parallax/me-img2400px[small].jpg") no-repeat;

		}
		// @include breakpoint(large) {
		// 	top: 2661px;
		// 	left: 78em;
		// }
}