// Color Library

$neonGreen: #97E365; 
// $neonGreen: #B1D234;
$neonBlue: #52CFFF;
$tangerine: #F7931D;
$steel: #BDCCD4;
$coral: #FE7271;
$graphite: #3D454D;
$neoBlack: #231611;
$pewter: #E1E1E1;

$neonBlue-transparent: rgba(82, 207, 255, 0.5);
$white-transparent: rgba(255,255,255,0.8);
$coral-transparent: rgba(255,114,133,0.8);
// =================== @mixins ================================/


@mixin breakpoint($point) {
//-------------------------- Mobile --------------|
  @if $point == mobile {
    @media (max-width: 400px) { @content; }
  }
//-------------------------- Tablet --------------|
  @else if $point == tablet {
    @media (min-width:401px) and (max-width:1000px) { @content; }
  }
//-------------------------- Desktop -------------|
  @else if $point == desktop {
    @media (min-width:1001px) and (max-width:1280px)  { @content; }
  }
//-------------------------- Large ---------------|
  @else if $point == large {
    @media (min-width:1281px) { @content; }
  }
//-------------------------- Landscape -----------|
  @else if $point == landscape {
    @media only screen and (orientation: landscape) { @content; }
  }
}

@mixin bordering ($thick, $borderColor) {
	border: $thick solid $borderColor;
	border-radius: 18em;
}

 @mixin all-transitions { 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/*-------------------- clearfix -------------------*/
.clearFixit:before, .clearFixit:after {
  content: "";
  display: table;
}
.clearFixit:after {
  clear: both; }

.clearFixit {
  zoom: 1;
}

/*======================= @BASE =======================*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
 }
html, body 	{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	width: 100%;
	height:  25000px;
	margin: 0 auto;
	font-family: 'LatoLight', sans-serif; color: $graphite;
}
/* =================== headings ===================*/
p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size:15px;
	margin: 0 auto;
	text-align: justify;
	width: 30%;
	padding: 0.5em;
	color: $graphite;
		@include breakpoint(mobile) {
			width: 90%;
			background: $white-transparent;
			font-weight: 100;
			font-size:11px;
		}
		@include breakpoint(tablet) {
			width: 60%;			
			font-weight: 100;
			font-size:14px;
		}		
}
b {
	padding: 0.5em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 500;
}
h1, h2, h3, h4, h5 {
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
	word-spacing: 1px;
	padding: 0.4em;
		@include breakpoint(mobile) {
			padding: 0.3em;
			background: $white-transparent;			
		}
		@include breakpoint(tablet) {
			padding: 0.5em;
		}	
}
h1 {
	font-weight: 200;
	font-size: 2em;
	margin: 0 auto 4em auto;
		padding: 0;
	text-align: center;
	color: $tangerine;	
}
h2 {
	font-size: 1.5em;
	color: $neonBlue;	
}
h3 {
	font-size: 1em;
	color: $neonBlue;
}
h4 {
	font-size: 1.4em;
	color: $graphite;
}
/*======================= @links=======================*/
a:link { 
	font-size: 1.2em;
	text-decoration: none; 
	color: $neonGreen; 
	@include breakpoint(mobile) {
		font-size: 1em;
	}
}
a:visited 	{ text-decoration: none; color: $neonBlue; }
a:hover 	{ text-decoration: none; color: $coral; }
a:active 	{ text-decoration: none; color: $coral; }

/*======================= @MAIN NAV ======================*/
#floating {
	display: inline;
	position: fixed;
	top: 60px;
	width: 100%;
	height: auto;
	z-index: 998;
}
#main-nav {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	z-index: 998;
}
.circle {
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    line-height: 3.2em;
    text-indent: -8999px;
 	z-index: 998;

    -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.circle:focus  {
    margin: 0;
    color: white;
    z-index: 999;
    text-indent: 0;
}
.circle:hover  {
    margin: 0;
    color: white;
    z-index: 999;
    text-indent: 0;
}
.circle:after {
    z-index: 998;
    text-indent: -8999px;
}
ul {
  list-style: none;
}
/*------------------ individual anchors ---------------------*/

// $circleNav: 7em;
// $circleNav-mobile: 4em;
/*------------------ home-nav ---------------------*/
.circle:nth-child(1) {
	width: 7em;
	height: 7em;
	background: rgba(255,255,255, 0.7);
	border: 5px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 2.2em;
		height: 2.2em;
		border: 4px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 2.5em;
		height: 2.5em;
		border: 4px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(1):hover  {
	width: 9em;
	height: 9em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 5em;
			height: 5em;
		}
		@include breakpoint(tablet) {
			width: 5em;
			height: 5em;
		}		
}

/*------------------ web-nav ---------------------*/
.circle:nth-child(2) {
	width: 9em;
	height: 9em;
	background: rgba(255,255,255, 0.8);
	border: 5px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 4.1em;
		height: 4.1em;
		border: 4px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 4.5em;
		height: 4.5em;
		border: 4px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(2):hover  {
	width: 12em;
	height: 12em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 7em;
			height: 7em;
		}
		@include breakpoint(tablet) {
			width: 7em;
			height: 7em;
		}		
}
/*------------------ mobile-nav ---------------------*/
.circle:nth-child(3) {
	width: 6.2em;
	height: 6.2em;
	background: rgba(255,255,255, 0.8);
	border: 5px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 3.1em;
		height: 3.1em;
		border: 4px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 3.3em;
		height: 3.3em;
		border: 4px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(3):hover  {
	width: 11em;
	height: 11em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 6em;
			height: 6em;
		}
		@include breakpoint(tablet) {
			width: 6em;
			height: 6em;
		}		
}
/*------------------ design-nav ---------------------*/
.circle:nth-child(4) {
	width: 5em;
	height: 5em;
	background: rgba(255,255,255, 0.8);
	border: 5px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 2em;
		height: 2em;
		border: 3px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 2.5em;
		height: 2.5em;
		border: 3px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(4):hover  {
	width: 10em;
	height: 10em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 6em;
			height: 6em;
		}
		@include breakpoint(tablet) {
			width: 6em;
			height: 6em;
		}		
}
/*------------------ process-nav ---------------------*/
.circle:nth-child(5) {
	width: 4em;
	height: 4em;
	background: rgba(255,255,255, 0.8);
	border: 4px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 1.4em;
		height: 1.4em;
		border: 2px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 2em;
		height: 2em;
		border: 3px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(5):hover  {
	width: 8em;
	height: 8em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 4em;
			height: 4em;
		}
		@include breakpoint(tablet) {
			width: 4em;
			height: 4em;
		}		
}
/*------------------ me-nav ---------------------*/
.circle:nth-child(6) {
	width: 3em;
	height: 3em;
	background: rgba(255,255,255, 0.8);
	border: 4px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 1.2em;
		height: 1.2em;
		border: 2px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 1.5em;
		height: 1.5em;
		border: 3px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(6):hover  {
	width: 7em;
	height: 7em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 3em;
			height: 3em;
		}
		@include breakpoint(tablet) {
			width: 3em;
			height: 3em;
		}		
}
/******************* @design******************/
#design {
	position: absolute;
	top: 100px;
	width: 100%;
		float: left;
	display: inline;
	@include breakpoint(mobile) {
		top: 11300px;
	}
	@include breakpoint(tablet) {
	top: 11300px;
	margin: 0 auto;
	text-align: center;	
	background: $white-transparent;	
	}	
}
#design h1 {
	padding: 0.1em;
	margin-top: 0.1em;
}
.fourths {
	width: 25%;
	height: auto;
	float: left;
	margin: 2em auto;
	display: inline-block;
	padding: 0.5em;
	overflow: hidden;
	@include breakpoint(mobile) {
		width: 100%; 
	}
	@include breakpoint(tablet) {
		width: 50%;

	}	
}
.thumbnail {
	float: left;
	margin: 2px; 
	border: 3px solid $tangerine;
	border-radius: 100%;
		width: 80px;
	height: 80px;   
	overflow: hidden; 
	  @include all-transitions;
}
a.thumbnail img {
	display: inline-block;
	width: 85px;
	height: 85px; 
}
.clear_both {
	clear: both;
	line-height: 1px; 
}

.back ul {
	position: absolute;
	top: 190px;
	left: 2em;
	text-align: left;
	list-style: circle;
}
.back li {
	font-size: 0.7em;
}
#portfolio h3 {
	color: $tangerine;
}

/******************* @design2 ******************/
#design2 {
	position: absolute;
	float: left;
	top: 600px;
	width: 100%;
	display: inline;
	@include breakpoint(mobile) {
		// top: 500px;
	}
	@include breakpoint(tablet) {
	// top: 11300px;
	// margin: 0 auto;
	// text-align: center;	
	// background: $white-transparent;	
	}	
}
#design2 h1 {
	padding: 0.1em;
	margin-top: 0.1em;
}
	
/******************* @video******************/
#video {
	top: 4400px;
	width: 100%;
	float: left;
	left: 0;
	right: 0;
	margin: 1em 0;
	position: absolute;
	text-align: center;
	height: auto;
	display: inline;
	z-index: 0;	
}
#video h1 {
	margin-bottom: 200px;
}
#video article {
	width: 100%;
	float: left;
	height: auto;
	margin: 1em auto;
}
// #video article:after {
// 	padding: 200px;
// }
#video .fourths {
	height: auto;	
}
#video .fourths p {
	width: 90%;
}
/******************* @media******************/
#media {
	position: absolute;
	top: 9800px;
	width: 100%;
	height: 200px;
	background: $coral;
  	margin: 0 auto;
  	padding: 0;
	left: 0;
	right: 0;
	z-index: 80;
	text-align: center;

}


/******************** @process ****************/
#painting {
	position: absolute;
	float: left;
	top: 11650px;
	width: 80%;
	left: 0;
	right: 0;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding: 0.2em;
	display: inline;		
}
.thirds {
	width: auto;
	left: 0;
	right: 0;
	margin: 5em auto;	
	display: inline-block;	
	overflow: hidden;	
	height: 300px;
	text-align: center;		
}
#painting .thirds .photos, #painting .thirds .photos .thumbnail_container {
	left: 0;
	right: 0;
	margin: 0 auto;		
	text-align: center;	

}
/******************** @me ****************/
#photography {
	position: absolute;
	top: 13900px;	
  	width: 50%;
	height: 200px;
	background: $coral;
	left: 0;
	right: 0;
	padding-top: 4em;
	margin: 2em auto;
	text-align: center;
	z-index: 30;	
}












