// Color Library

$neonGreen: #97E365; 
// $neonGreen: #B1D234;
$neonBlue: #52CFFF;
$tangerine: #F7931D;
$steel: #BDCCD4;
$coral: #FE7271;
$graphite: #3D454D;
$neoBlack: #231611;
$pewter: #E1E1E1;

$neonBlue-transparent: rgba(82, 207, 255, 0.5);
$white-transparent: rgba(255,255,255,0.8);
$coral-transparent: rgba(255,114,133,0.8);
// =================== @mixins ================================/


@mixin breakpoint($point) {
//-------------------------- Mobile --------------|
  @if $point == mobile {
    @media (max-width: 400px) { @content; }
  }
//-------------------------- Tablet --------------|
  @else if $point == tablet {
    @media (min-width:401px) and (max-width:1000px) { @content; }
  }
//-------------------------- Desktop -------------|
  @else if $point == desktop {
    @media (min-width:1001px) and (max-width:1280px)  { @content; }
  }
//-------------------------- Large ---------------|
  @else if $point == large {
    @media (min-width:1281px) { @content; }
  }
//-------------------------- Landscape -----------|
  @else if $point == landscape {
    @media only screen and (orientation: landscape) { @content; }
  }
}

@mixin bordering ($thick, $borderColor) {
	border: $thick solid $borderColor;
	border-radius: 18em;
}

 @mixin all-transitions { 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/*-------------------- clearfix -------------------*/
.clearFixit:before, .clearFixit:after {
  content: "";
  display: table;
}
.clearFixit:after {
  clear: both; }

.clearFixit {
  zoom: 1;
}

/*======================= @BASE =======================*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
 }
html, body 	{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	width: 100%;
	height:  auto;
	margin: 0 auto;
	font-family: 'LatoLight', sans-serif; color: $graphite;
}
/* =================== headings ===================*/
p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size:15px;
	text-align: justify;
	padding: 0.5em;
	color: $graphite;
		@include breakpoint(mobile) {
			background: $white-transparent;
			font-weight: 100;
			font-size:11px;
		}
		@include breakpoint(mobile) {
			font-weight: 100;
			font-size:14px;
		}		
}
b {
	padding: 0.5em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 500;
}
h1, h2, h3, h4, h5 {
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
	word-spacing: 1px;
	padding: 1em;
		@include breakpoint(mobile) {
			padding: 0.3em;
			background: $white-transparent;			
		}
		@include breakpoint(tablet) {
			padding: 0.5em;
		}	
}
h1 {
	font-weight: 200;
	font-size: 2em;
	text-align: center;
	color: $tangerine;
		@include breakpoint(mobile) {
			font-weight: 100;
			font-size: 1.2em;
		}
		@include breakpoint(tablet) {
			font-weight: 100;
			font-size: 1.6em;
		}		
}
h2 {
	font-size: 1.5em;
	color: $neonBlue;
		@include breakpoint(mobile) {
			font-weight: 100;
			font-size: 1em;
		}
		@include breakpoint(tablet) {
			font-size: 1.3em;
		}		
}
h3 {
	font-size: 1em;
	color: white;
}
h4 {
	font-size: 1.4em;
	color: $graphite;
}
/*======================= @links=======================*/
a:link { 
	font-size: 1.2em;
	text-decoration: none; 
	color: $neonGreen; 
	@include breakpoint(mobile) {
		font-size: 1em;
	}
}
a:visited 	{ text-decoration: none; color: $neonBlue; }
a:hover 	{ text-decoration: none; color: $coral; }
a:active 	{ text-decoration: none; color: $coral; }



/*======================= @MAIN NAV ======================*/
#floating {
	display: inline;
	position: fixed;
	top: 80px;
	width: 100%;
	height: auto;
	z-index: 998;
	@include breakpoint(mobile) {
    	top: 2px;
	}
	@include breakpoint(tablet) {
    	top: 2px;
	}
	 @include breakpoint(large) {
    	top: 80px;
	}	
}
#main-nav {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: center;
	z-index: 998;
}
.circle {
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    line-height: 3.2em;
    text-indent: -8999px;
 	z-index: 998;

    -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.circle:focus  {
    margin: 0;
    color: white;
    z-index: 999;
    text-indent: 0;
}
.circle:hover  {
    margin: 0;
    color: white;
    z-index: 999;
    text-indent: 0;
}
.circle:after {
    z-index: 998;
    text-indent: -8999px;
}
ul {
  list-style: none;
}
/*------------------ individual anchors ---------------------*/

// $circleNav: 7em;
// $circleNav-mobile: 4em;
/*------------------ home-nav ---------------------*/
.circle:nth-child(1) {
	width: 7em;
	height: 7em;
	background: rgba(255,255,255, 0.7);
	border: 5px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 2.2em;
		height: 2.2em;
		border: 4px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 2.5em;
		height: 2.5em;
		border: 4px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(1):hover  {
	width: 9em;
	height: 9em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 5em;
			height: 5em;
		}
		@include breakpoint(tablet) {
			width: 5em;
			height: 5em;
		}		
}

/*------------------ painting-nav ---------------------*/
.circle:nth-child(2) {
	width: 9em;
	height: 9em;
	text-align: center;
    background: url("../img/portfolio-logo.png") top center no-repeat;
	border: 5px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 4.1em;
		height: 4.1em;
		border: 4px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 4.5em;
		height: 4.5em;
		border: 4px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(2):hover  {
	width: 12em;
	height: 12em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 7em;
			height: 7em;
		}
		@include breakpoint(tablet) {
			width: 7em;
			height: 7em;
		}		
}
/*------------------ scultpure-nav ---------------------*/
.circle:nth-child(3) {
	width: 6.2em;
	height: 6.2em;
	background: rgba(255,255,255, 0.8);
	border: 5px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 3.1em;
		height: 3.1em;
		border: 4px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 3.3em;
		height: 3.3em;
		border: 4px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(3):hover  {
	width: 11em;
	height: 11em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 6em;
			height: 6em;
		}
		@include breakpoint(tablet) {
			width: 6em;
			height: 6em;
		}		
}
/*------------------ design-nav ---------------------*/
.circle:nth-child(4) {
	width: 5em;
	height: 5em;
	background: rgba(255,255,255, 0.8);
	border: 5px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 2em;
		height: 2em;
		border: 3px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 2.5em;
		height: 2.5em;
		border: 3px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(4):hover  {
	width: 10em;
	height: 10em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 6em;
			height: 6em;
		}
		@include breakpoint(tablet) {
			width: 6em;
			height: 6em;
		}		
}
/*------------------ video-nav ---------------------*/
.circle:nth-child(5) {
	width: 4em;
	height: 4em;
	background: rgba(255,255,255, 0.8);
	border: 4px solid $neonGreen;
	@include breakpoint(mobile) {
    	width: 1.4em;
		height: 1.4em;
		border: 2px solid $neonGreen;
	  	}
	@include breakpoint(tablet) {
    	width: 2em;
		height: 2em;
		border: 3px solid $neonGreen;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(5):hover  {
	width: 8em;
	height: 8em;
	background: $neonGreen;
		@include breakpoint(mobile) {
			width: 4em;
			height: 4em;
		}
		@include breakpoint(tablet) {
			width: 4em;
			height: 4em;
		}		
}
/*------------------ me-nav ---------------------*/
.circle:nth-child(6) {
	width: 3em;
	height: 3em;
	background: rgba(255,255,255, 0.8);
	border: 4px solid $neonBlue;
	@include breakpoint(mobile) {
    	width: 1.2em;
		height: 1.2em;
		border: 2px solid $neonBlue;
	  	}
	@include breakpoint(tablet) {
    	width: 1.5em;
		height: 1.5em;
		border: 3px solid $neonBlue;
	  	}	  	
}
/*--------------- hover -----*/
.circle:nth-child(6):hover  {
	width: 7em;
	height: 7em;
	background: $neonBlue;
		@include breakpoint(mobile) {
			width: 3em;
			height: 3em;
		}
		@include breakpoint(tablet) {
			width: 3em;
			height: 3em;
		}		
}



/******************* @nav-btn******************/

.nav-btn {
	position: relative;
	display: inline-block;
	width: 130px;
	height: 130px;
	padding: 1em;
	padding-top: 1.5em;
	margin: 0.4em;
	color: white;
	vertical-align: middle; 
  	text-align: center; 
	border-radius: 100%;
	background: $coral;
			@include breakpoint(mobile) {
			width: 70px;
			height: 70px;
			padding: 0;	
			margin: 0;		
		}
		@include breakpoint(tablet) {
			width: 100px;
			height: 100px;			
			text-indent: 0; 			
			text-align: center;
			padding: 0.3em;
			margin: 0;
		}		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;	
}
.nav-btn:hover {	
	width: 150px;
	height: 150px;
	text-indent: -10px; 
	vertical-align: middle; 
  	text-align: center; 
  	border: 2px solid $tangerine;
	background-color: white;
		@include breakpoint(mobile) {
			width: 90px;
			height: 90px;
		}
		@include breakpoint(tablet) {
			width: 110px;
			height: 110px;			
		}
		@include breakpoint(large) {
			width: 120px;
			height: 120px;			
		}				
}
.nav-sub {
	position: relative;
	width: auto;
	float: right;
	height: auto;
	text-align: right;
	padding: 0;
	display: inline;	
	right: 8em;
	z-index: 20;
		@include breakpoint(mobile) {
			text-align: center;
			margin: 0 auto;
			text-indent: 0;
			left: 0;
			right: 0;
		}	
		@include breakpoint(tablet) {
			padding-top: 4em;
		}
		@include breakpoint(large) {
			text-align: center;			
			padding: 0;
			right: 19em;
			// border: 1px solid $tangerine;
		}			
}


.gallery { 
	width: 80%; 
	margin: 1em auto; 
	padding-top: 100px;
	position: relative; 

}
.gallery .sorting { 
	margin: 1em auto;
	border: 1px solid $neonBlue; 
}
.gallery .sorting span { 
	padding: 0px 20px 0px 0px; 
	font-style: none; }
.gallery .sorting div { 
	margin: 2px; 
}
.gallery .sorting a {
	font-size: .9em;
	text-decoration: none;
	padding: 3px 2px 3px 2px;
}
.sortLink {
	padding-bottom: 5px;
}
.gallery .photos .thumbnail_container { 
	position: relative; 
		margin: 0 auto;
		left: 0;
		right: 0;
		text-align: center;
	height: auto !important;
}

.gallery .photos .thumbnail_container a { 
		border: 3px solid $tangerine; 
		border-radius: 100%;
		overflow: hidden;
}
.gallery .photos .thumbnail_container a.thumbnail { 
	position: absolute; 

}
.gallery .photos .thumbnail_container a.thumbnail img { 
	width: 75px; 
	height: 75px; 
}
.clear_both { 
	clear: both; 
	line-height: 1px; 
}


/* Horizontal Media Queries */
@media screen and (min-width:50px) and (max-width:500px) {
	body { 
		padding: 5px 0px 0px 5px; 
	}
	.gallery { 
		width: auto; 
		margin-left: 35px; 
	}
	.gallery .sorting span { 
		display: block; 
		padding: 0px 0px 20px 0px; 
	}
	.gallery .sorting a { 
		display: block; 
	}
}
@media screen and (min-width:501px) and (max-width:960px) {
	.gallery .sorting span { display: block; padding: 0px 0px 20px 0px; }
	.gallery .sorting a { display: block; width: 35%; float: left; margin-bottom: 5px; }
}
@media screen and (min-width:961px) {
	.gallery .sorting span { padding: 0px 20px 0px 0px; }
}

/*=========================== @design ============================*/
#design {
	position: absolute;
	top: 300px;	
	margin: 1em auto;
	left: 0;
	right: 0;
	width: 80%;
	height: 300px;
	float: right;
	text-align: center;	
	z-index: 20;	
		@include breakpoint(mobile) {
			width: 100%;			
			right: 0;
			padding: 1em;
		}
		@include breakpoint(tablet) {

		}	
		@include breakpoint(large) {
			width: 70%;
		}
}
#design .gallery {
	margin-top: 60px;

}	
/*=========================== @video ============================*/
#video {
	position: absolute;
	top: 2000px;	
	margin: 1em auto;
	left: 0;
	right: 0;
	width: 80%;
	height: 300px;
	float: right;
	text-align: center;	
	z-index: 20;	
		@include breakpoint(mobile) {
			width: 100%;			
			right: 0;
			padding: 1em;
		}
		@include breakpoint(tablet) {

		}	
		@include breakpoint(large) {
			width: 70%;
		}
}


/*=========================== @painting =========================*/
#painting {
	position: absolute;
	top: 3000px;	
	margin: 1em auto;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	float: right;
	text-align: center;	
	z-index: 20;
	border: 1px solid black;	
		@include breakpoint(mobile) {
			width: 100%;			
			right: 0;
			padding: 1em;
		}
		@include breakpoint(tablet) {

		}	
		@include breakpoint(large) {
			width: 70%;
		}
}
.thirds {
	width: 40%;
	// float: left;
	height: auto;
	margin: 1em auto;
	left: 0;
	right: 0;
	text-align: center;
	border: 1px solid black;
}

/*=========================== @scultpure ========================*/
#scultpure {
	position: absolute;
	top: 4000px;	
	margin: 1em auto;
	left: 0;
	right: 0;
	width: 80%;
	height: auto;
	float: right;
	text-align: center;	
	z-index: 20;	
		@include breakpoint(mobile) {
			width: 100%;			
			right: 0;
			padding: 1em;
		}
		@include breakpoint(tablet) {

		}	
		@include breakpoint(large) {
			width: 70%;
		}
}


/*=========================== @art ============================*/
#art {
position: absolute;
top: 5000px;	
margin: 1em auto;
left: 0;
right: 0;
width: 60%;
height: auto;
float: right;
text-align: center;	
z-index: 20;	
	@include breakpoint(mobile) {
		width: 100%;			
		right: 0;
		padding: 1em;
	}
	@include breakpoint(tablet) {

	}	
	@include breakpoint(large) {
		width: 70%;
	}
}
#art h1 {
	margin: 0.1em;
	padding: 0.2em;
}
#art p {
	margin: 0;
	padding: 0;
	margin-top: 50px;
}
#art p:last-child {
	text-align: center;
	margin-top: 0;	
}

aside {
	margin: 1em auto;
	padding: 0;
	position: relative;
	width: 500px;
	height: 500px;
	text-align: center;
    background: url("../img/self-portrait.png") top center no-repeat;
    	h1 {
	    	display: none;
    	}
	@include breakpoint(mobile) {
		width: 300px;
		height: 300px;
      background: url("../img/self-portrait[small].png") top center no-repeat;
    }
}



