
.list_carousel {
	margin: 0 0 30px 60px;
	max-width: 100%;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	text-align: center;
	width: 300px;
	height: 320px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 25%;
}
.next {
	float: right;
	margin-right: 25%;
}

#foo5 .one {
	width: 266px;
	height: 319px;	
	background: url(../img/mobile/scholarhero/1.jpg);
}
#foo5 .two {
	width: 320px;
	height: 241px;
	background: url(../img/mobile/scholarhero/2.jpg);
}
#foo5 .three {
	width: 300px;
	height: 320px;
	background: url(../img/mobile/scholarhero/3.jpg);
}
#foo5 .four {
	width: 300px;
	height: 320px;	
	background: url(../img/mobile/scholarhero/4.jpg);
}