

html, body {
  font-family: $font-one;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $neoBlack;
}
a {
  font-family: $font-one;  
  text-decoration: none;
  text-transform: uppercase;  
  color: $flatBlue;
  @include single-transition(all, .5s, ease-out);  
  &:hover {
    color: white;
    background: $neoBlack;
  }
}
p {
  font-family: $font-four; 
  line-height: 120%;
  font-weight: 100; 
  color: $coal;

  @include breakpoint(mobile) {
      margin: 1rem auto;
      text-align: justify;
      width: 80%;
  }  
  @include breakpoint(tablet) {
      padding: 2rem;
      text-align: justify;
  }    
}
h1 {
  display: none; // for DOM Outline
}