/*----------------------- @Mobile -----------------------------*/

@media all and (min-width: 0px) and (max-width: 600px) {
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~ for testing
//    body::before {
//        content: "mobile media query (breakpoint: 0/600px)";
//        display: block;
//        text-align: center;
//        background: rgba(0, 178, 255, 0.6);
//        color: #FFF;
//        position: fixed;
//        top: 0;
//        left: 0;
//        right: 0;
//        padding: 5px 0;
//        z-index: 9999999;
//    }
    //-~~~~~~~~~~~~~~~~~~~~~~~~~~~ end for testing
    .mobile {
        display: block;
    }
    #main-menu {
        display: none;
    }
    p {
        font-size: 0.9rem;
    }
    section {
        padding: 0;
    }
    section article.wrapper {
        margin-top: 0;
    }
    /*----------------- About -------------*/
    #about {
        margin: 0;
        height: auto;
        overflow: visible;
        .btn-1 {
            display: none;
        }
        h2 {
            font-size: 1.3rem;
            padding: 0.5rem 0;
            line-height: 1;
        }
        img.banner {
//                position: static;
            float: left;
            padding-left: 5px;
            margin-top: -90px;
            width: 150px;
        }
        div,
        aside {
//            height: 300px;
            padding: 0;
            margin: 0;
        }
        div {
            width: 30%;
            display: inline-block;
            height: 70px;
        }
        aside {
            width: 100%;
            padding-top: 0;
            h2 {
                width: 50%;
                float: right;
                padding-bottom: 50px;
            }
            p {
                float: left;
                width: 90%;
                padding: 0 20px;
            }
        }
    }
    #the-team {
        height: auto;
        margin: 0;
        padding: 0;
        .wrapper {
            margin-top: 2px;
            .team {
                width: 100%;
                height: auto;
                margin: 0 10px 20px 10px;
                padding-bottom: 10px;
                padding: 0;
                text-align: left;
                border-bottom: 1px solid rgba($neoBlack, 0.1);                
                p:last-child {
                    padding-bottom: 20px;
                }
                p {
                    width: 61%;
                    float: right;
                    padding: 0 15px 0 10px;
                    margin: 0;
                    margin-left: 5px;
                }
                h3 {
                    width: 61%;
                    float: right;
                    height: auto;
                    font-size: 1.6rem;
                    padding: 0 0 5px 0;
                }

            }
        }                             
    }
    #the-team .wrapper span {
        width: auto;
        height: auto;
    }
    #jackie-simpson {
        background: url(../images/team/jackie-simpson-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #phil-knight {
        background: url(../images/team/phil-knight-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #mike-todd {
        background: url(../images/team/mike-todd-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #aaron-callen {
        background: url(../images/team/aaron-callen-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #jason-grange {
        background: url(../images/team/jason-grange-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #gregg-arch {
        background: url(../images/team/gregg-arch-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #al-williams {
        background: url(../images/team/al-williams-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #scott-pritchard {
        background: url(../images/team/scott-pritchard-mobile.jpg) top left / 120px 150px no-repeat;
    }
    #chris-stevens {
        background: url(../images/team/chris-stevens-mobile.jpg) top left / 120px 150px no-repeat;
    }
    
    
    /*----------------- Services -------------*/
    #services {
        margin: 0 auto 20px auto;        
        padding: 0;
        .wrapper {
            h2 {
                font-size: 2.2rem;
                padding: 0.5rem 0;
                line-height: 1;
            }
            div h3 {
                font-weight: 400;
                padding: 5px auto;
                margin: 0 auto;
            }
            div {
                height: auto;
            }
            div span {
                display: block;    
                width: 100%;
                margin: 0 auto;
                text-align: center;
                height: 100px;                
            }
            article {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
            div, div p {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
            div p {
                font-size: 1.2rem;
            }
        }
        .services-wrapper {
            width: 100%;
//            height: auto;
            overflow: hidden;
            padding: 0;
            margin: 0;
            margin-left: 5%;
            text-align: left;
        }
        .repairs {
            background: url(../images/services/repairs-mobile.png) top center / 130px 100px no-repeat;
        }
        .certification {
            background: url(../images/services/certification-mobile.png) top center / 130px 100px no-repeat;
        }
        .electrical {
            background: url(../images/services/electrical-mobile.png) top center / 130px 100px no-repeat;
        }
        .audio {
            background: url(../images/services/audio-mobile.png) top center / 130px 100px no-repeat;
        }
    }
    #services div ul {
        list-style: none;
        width: 80%;
        padding: 5px 20px;
        margin: 0 auto;
        text-align: center;        
        li {
            padding: 5px;
            margin: 5px auto;
            font-size: 1rem;
            background: $wine; 
            color: $clottedCream; 
        }
    }
        
        
        
    /*----------------- Testimonials -------------*/
    #testimonials {
        .wrapper blockquote {
            width: 40%;
            height: auto;
            display: inline-block;
            margin: 0;
            padding: 5px 0;
        }
        .wrapper blockquote p cite {
            font-size: 0.9rem;
        }
        .wrapper blockquote .bubble {
            width: 80%;
            padding: 20px 15px;
        }
    }
    #brands {        
        height: auto;
        .wrapper .edmunds-brands .brands-covered p {
            width: 80%;
                    padding: 5px;
                    margin: 5px auto;
                    font-size: 1rem;
                    background: $wine; 
                    color: $clottedCream; 
                }
            }
    /*----------------- Contact -------------*/
    #contact {
        .wrapper {
            margin-top: 50px;
        }
        .twitter-feed, aside {
            width: 90%;
            display: block;
            text-align: center;
            margin: 0 auto 30px auto;            
        }
    }
    #hours, #first-time {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    #first-time {
        margin: 5px auto;
    }
    #twitter-feed {
        width: 90%;
        text-align: center;
    }
    iframe#twitter-widget-0 {
        width: 100% !important;
        height: 430px;
    }
    aside#estimate {
        width: 100%; 
        margin: 0 auto;
    }
}
// end of @media