/*----------------------- @Tablets -----------------------------*/
@media all and (min-width: 601px) and (max-width: 900px) {
//    body::before {
//        content: "tablet media query (breakpoint: 601px/900px)";
//        display: block;
//        text-align: center;
//        background: rgba(127,219,255, 0.6);
//        color: #FFF;
//        position: fixed;
//        top: 0;
//        left: 0;
//        z-index: 9999;
//        padding: 5px 0;
//        width: 100%;
//        height: 20px;
//    }
    #burger-menu {
        display: none;
    }    
    #main-menu {
        height: 50px;
    }
    #main-menu ul li {
        display: inline-block;
        margin: 0.5rem;
        padding: 10px 0;
    }
    #main-menu ul li a {
        font-size: 0.9rem;
        padding: 5px;
    }
    h2 {
        font-size: 1.4rem;
        padding: 0.4rem 0;
    }
    p {
        font-size: 0.9rem;
    }
    section article.wrapper {
        margin-top: 0;
    }
/*----------------- About -------------*/
    #about {
        margin: 0;
        height: 1840px;
        img.banner {
            position: absolute;
            left: 0.01%;
            width: 230px;
        }
        div, aside {
            height: 300px;
            padding: 5px 0;
            margin: 5px 0;
        }    
        div {
            width: 30%;    
        }
        aside {
            width: 56%; 
            padding-top: 60px;
            p {
                width: 90%;
            }
        }
    }
    
    #the-team {
//        height:600px;
        margin: 0;
        padding: 0;
        .wrapper {
            margin-top: 20px;
            .team .image-container img {
                width: 210px;
                height: 150px;
            }        
        }  
        .team {
            margin: 0;
            padding: 0;
            width: 33.33%;
            height: 450px;
                         
            p {
                font-size: 0.9rem;
                padding: 5px 5%;
                margin: 5px auto;
            }
            h3 {
                font-size: 1.6rem;
                padding: 10px 0;
            }
        }                               
    }
    #jackie-simpson {
        background: url(../images/team/jackie-simpson-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #phil-knight {
        background: url(../images/team/phil-knight-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #mike-todd {
        background: url(../images/team/mike-todd-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #aaron-callen {
        background: url(../images/team/aaron-callen-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #jason-grange {
        background: url(../images/team/jason-grange-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #gregg-arch {
        background: url(../images/team/gregg-arch-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #al-williams {
        background: url(../images/team/al-williams-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #scott-pritchard {
        background: url(../images/team/scott-pritchard-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
    #chris-stevens {
        background: url(../images/team/chris-stevens-tablet.jpg) top center no-repeat;
        background-size: 210px 150px;
    }
/*----------------- Services -------------*/
    #services {
        h2 {
            font-size: 2rem;
            padding: 0;
            line-height: 1;
        }
        article {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        div {
            width: 48%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            span {
                margin: 0 auto;
                text-align: center;           
            }
            .services-wrapper {
                width: 100%;
                height: auto;
                overflow: hidden;
                padding: 0;
                margin: 0;
                margin-left: 5%;
                text-align: left;
            }
            img {
                max-width: 100%;
                width: 200px;
                height: 250px;

            }
        }
    }
    #services .wrapper div span.repairs {
        width: 200px;
        height: 250px;
        display: block;
        background: url(../images/services/repairs-tablet.png) top center no-repeat;
        background-size: 200px 250px; 
    }
    #services .wrapper div span.certification {
        width: 200px;
        height: 250px;
        display: block;
        background: url(../images/services/certification-tablet.png) top center no-repeat;
        background-size: 200px 250px; 
    }
    #services .wrapper div span.electrical {
        width: 200px;
        height: 250px;
        display: block;
        background: url(../images/services/electrical-tablet.png) top center no-repeat;
        background-size: 200px 250px; 
    }
    #services .wrapper div span.audio {
        width: 200px;
        height: 250px;
        display: block;
        background: url(../images/services/audio-tablet.png) top center no-repeat;
        background-size: 200px 250px; 
    }
    /*----------------- Testimonials -------------*/ 
    #testimonials {
        .wrapper blockquote {
            width: 30%;
            height: auto;
            display: inline-block;
            margin: 0;
            padding: 5px 0;
        }
        .wrapper blockquote p cite {
            font-size: 0.8rem;
        }
        .wrapper blockquote .bubble {
            width: 80%;
            padding: 20px 15px;
        }    
    }
    
    /*----------------- Services -------------*/ 
    #services {
        .wrapper {
            margin-top: 60px;
            
        }
    }

    /*----------------- Contact -------------*/ 
    #contact {
        .wrapper {
            margin-top: 50px;

        }
    }

    
} // end of @media

        
        
        
        
        
        
        