.buttons {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.container {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}
p a:hover {
    background: white;
    color: #E1332D;
}
.btn {
    color: $wine;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    text-align: center;
}

.btn-1 {
    font-weight: 100;
    background: none;
    width: 250px;
    padding: 10px;
}
.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn-1 rect {
    fill: none;
    width: 100%;
    stroke: $gunMetal;
    stroke-width: 1;
    stroke-dasharray: 422, 0;
}
.btn-1:hover {
    font-weight: 900;
    letter-spacing: 2px;
}
.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}